/*********************************************
Header styles
*********************************************/

.header {
	padding-top: 0; /* reduce seperation between h1 and top */
	
	& div img {
		width: 70%;
		margin: 2em auto 0 auto;
	}
	
	& p {
		margin-top: 2em;
	}	
}

@include mq(narrow) {

	.header div img {
		width: 100%;
		margin-top: 0;
	}
	
	.profile {
		flex-direction: row-reverse;
		justify-content: space-between;
		text-align: left;
		margin-top: 4em;
		
		p {
			padding-right: 5%; 	/* make a gutter */
			margin-top: 0;		
		}
	}
}

@include mq(wide) {

	.large-screen-flex {
		display: flex;
		padding: 1em;
		justify-content: space-between;
	}	
}



