/*********************************************
Nav styles
*********************************************/

.main-nav {

	& ul {
		padding: 0;
	}

	& li {
		list-style-type: none;
	}
}

@include mq(narrow) {

	.main-nav .flex {
		justify-content: space-around;
		margin: 0 20%;	  	/* replace 5% */
	}
 }

@include mq(wide) {

	.main-nav li {
		padding: 1em 1em 0 1em;
	}
}

