
// Phone and email links
%footer-link {
	@include text(
		$font-size-normal,
		$line-height-large,
		$font-weight-heavy,
		$color-footer-link-base
	);
 	display: block;
}

%footer-link-color {
	color: $color-footer-link-hover;
}

// Footer page navigation
%footer-nav {
	@include text(
		$font-size-small,
		$line-height-normal,
		$font-weight-heaviest
	);
	display: block;
}



