/*********************************************
Footer Styles
*********************************************/

.footer {
	padding: $section-seperation 0 0 0;		
	
	& hr {   
		margin-top: $section-seperation;
	}
	
	& span {
		font-weight: $font-weight-heavy;
	}
	
	& .logo {
		@extend %footer-nav;
		float: left;
		margin-left: 1em;
	}
	

	&-secondary-nav {
		float: right;
		margin-right: 1em;

		& a {
			@extend %footer-nav;
		}
	}

	&-main-nav {
		display: none;
	}
}

.phone {
	margin-top: 1em;
	@extend %footer-link;
	
    &:hover {
		@extend %footer-link-color;
	}
}

.email {
	@extend %footer-link;
	
    &:hover {
		@extend %footer-link-color;
	}
}

@include mq(narrow) {

	.footer {
	
		& p {
			max-width: 50%;
			margin-left: auto;
			margin-right: auto;
		}
	
		&-main-nav {
			display: block;
			float: right;
			
			& ul {
				padding: 0 1em 0 0;
				margin-top: -1em;	/* tweek the position */
			}	
			
			& li {
				list-style-type: none;
				font-size: 0.8em;
				padding: 1em;
			}
		}

		&-secondary-nav {
			display: none;
		}
	}
}


