/*********************************************
Main Content Styles
*********************************************/

.main-content {
	padding-top: $section-seperation;		/* add seperation between sections */
	
	& ul {
		@extend %no-padding;
	}

	& li {
		width: 90%;
		margin: 0 auto;
		padding-top: 1em;
		list-style-type: none;
		vertical-align: top;
	}

	& img {
		width: 100%;
		box-shadow: 5px 5px 5px 3px $color-img-shadow;
	}
}

@include mq(narrow) {

	.main-content li {
		display: inline-block;
		width: 40%;
		margin-left: 2.5%;		/* make a gutter */
		margin-right: 2.5%;		/* make a gutter */
	}
	
	.gallery-text p {
		height: 100px;
	} 
}

@include mq(wide) {

	.main-content li {
		width: 25%;
	}
}

