/*********************************************
Video Content Styles
*********************************************/

.video-wrapper {
	margin: 0 auto;
	display: block;
	max-width: 800px;
}

video {
	height: auto;
	width: 100%;
}
