/*********************************************
Global Layout Set-up
*********************************************/

* { 
	box-sizing: border-box;
}
  
body {
	@include text(
		$font-size-normal,
		$line-height-normal,
		$font-weight-normal,
		$color-text-base
	);
	margin: 0;
	padding: 0;
	text-align: left;
	font-family: $stack-sans-serif; 
	background: $color-primary;
}

p {
	margin: 1em 1em 0 1em;
}

