
// Descriptive color variables

$white						: #fff;
$black						: #000;

$dove-grey					: #737373;
$indochine					: #d28004;



// Functional color variables

$color-primary				: $white;

$color-text-base			: $dove-grey;
$color-text-highlight		: $indochine;



// Font stacks
$stack-sans-serif			: sans-serif;



// Font size
$font-size-normal			: 1em;



// Font weight
$font-weight-normal			: 500;



// Line height
$line-height-normal			: 1.5;


// Seperation between sections
$section-seperation			: 1em;


// maximum width of content
$max-content-width			: 800px;


// Media query breakpoints

$break-narrow				: 768px;
$break-wide					: 1024px;
